<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <mapping class="br.com.controle.portaria.model.TipoPessoa"/>   
    <mapping class="br.com.controle.portaria.model.Veiculo"/> 
    <mapping class="br.com.controle.portaria.model.Pessoa"/> 
    <mapping class="br.com.controle.portaria.model.ImovelCondominio"/>     
    <mapping class="br.com.controle.portaria.model.Usuario"/> 
    <mapping class="br.com.controle.portaria.model.ControleRegistro"/>  
  </session-factory>
</hibernate-configuration>